{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
            <tr>
                <th scope="row">{{ table.id }}</th>
                <td>
                    <a href="{% url 'tables:table' table.id %}">{{ table.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}